body {
  background-color: rgb(54, 85, 160);
  color: white;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  font-family: "Copperplate";
  overflow: scroll;
}
main {
  display: flex;
  flex-basis: 100%;
}
footer {
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0px;
  position: fixed;
  flex-basis: 100%;
}
nav {
  background-color: #007fff;
  flex-basis: 33%;
  padding-left: 5px;
}
header {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: "Copperplate";
  position: relative;
  top: 20;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
table {
  border-color: black;
  border-style: solid;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
th {
  border-style: solid;
  color: white;
  border-color: black;
  padding: 5px;
}
td {
  border-style: solid;
  padding: 5px;
  color: white;
  border-color: black;
}
tr:nth-child(odd) {
  background-color: #007fff;
}
.uniqueContent {
  flex-basis: 66%;
  padding-left: 25px;
}
